{% extends 'cropmapapp/base.html' %}
{% block title %}CropMap | Add New Cropping{% endblock %}
{% block images %} {% endblock %}
{% block cropping %}active{% endblock %}
{% block addimage %} {% url 'cropmapapp:cropping-add'  %} {% endblock %}
{% block addmenu %} ADD CROPPING {% endblock %}

{% block body %}
	<div class="row padding-for-form-add">
		<div class="col-sm-7">
			<div class="panel panel-default">
				<div class="panel-body">
					{% block header %} <h3 style="padding-bottom: 6px;">Add a New Cropping</h3> {% endblock %}
					{% if error_message %}<p style="color: red; font-weight: bold;">
						{{ error_message }}</p>
                	{% endif %}
					<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{% include 'cropmapapp/form-template.html' %}
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<button type="submit" class="btn btn-success">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="col-sm-5">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>What is CropMap?</h3>
                    <p>CropMap is an image processing system that processes NIR images with the used of NDVI and OSAVI algorithm. It also allows you to monitor croppings with your field and make a comparative analysis.</p>
                    <h3>How do I add cropping?</h3>
                    <p>First, create a new cropping by filling out the form on this page. Once a cropping is created you will be able to add/upload cropping images.</p>
                    <h3>What are some Image files best practices?</h3>
                    <ul>
                    	<li>Must be a NIR image captured by drone through NIR filter</li>
                        <li>Have a resolution of 512 x 512</li>
                        <li>Use common image formats such as .JPG, .JPEG, or .PNG</li>
                        <li>Remain under the 2MB limit.</li>
                        <li>Square images look best</li>
                    </ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}