{% extends 'cropmapapp/base.html' %}
{% block cropping %} active {% endblock %}
{% block title %}CropMap | Cropping Detail{% endblock %}
{% block addimage %} {% url 'cropmapapp:cropping-add'  %} {% endblock %}
{% block addmenu %} ADD CROPPING {% endblock %}


{% block body %}
	<div class="row">
		<div class="col-sm-3 detail-body fixed-detail">
			<div class="panel panel-default popup">
				<div class="panel-body center">
					{% load staticfiles %}
					<img src="{% static 'cropmapapp/img/legend1.jpg' %}" class="image-width legend-img">
				</div>
				<div class="panel-footer">
					Legend
				</div>
			</div>
	
			<div class="popup need-padding">
				<div class="row">
					<div class="col-xs-4">
						<img src="/media/{{ croppingdata.cropping}}" class="small-image">
					</div>
					<div class="col-xs-8 detail-tmb-desc-con">
	               		<b class="detail-name-bold">{{ croppingdata.croppingdate }}</b>
	           			<p>
	               			{{ croppingdata.description }}
	               		</p>
	               		<div class="thumbnail-croppingdetail">
							<p style="font-size: 15px; "> <span><img src="/media/{{ croppingdata.image.image_raw }}" class="img-croppingdetail-thumbnail-goback"></span> <a href="{% url 'cropmapapp:croppingdetail' croppingdata.image.id %}" class="link-cropping-detail">{{ croppingdata.image.surveying_area }}</a></p>
						</div>
		            </div>  
				</div>	
			</div>

		</div>
		
		
		<div class="col-sm-9 detail-right">
			<div class="page-header">
				<h2>Cropping Data Detail &nbsp;</h2>
				<div class="thumbnail-croppingdetail">
					<p style="font-size: 20px; "> <span><img src="/media/{{ croppingdata.image.image_raw }}" class="img-croppingdetail-thumbnail"></span> <a href="{% url 'cropmapapp:croppingdetail' croppingdata.image.id %}" class="link-cropping-detail">{{ croppingdata.image.surveying_area }}</a></p>
				</div>
			</div>
			<div class="row"> 
				{% for data in croppingdata.croppingdatadetail_set.all %}
					<div class="col-sm-4">
						<div class="panel panel-default popup">
							<div class="panel-heading">
								RAW IMAGE
							</div>
							<div class="panel-body center">
								<img src="/media/{{ data.raw }}" class="image-width output-img">
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="panel panel-default popup">
							<div class="panel-heading">
								NDVI READING
							</div>
							<div class="panel-body center">
								<img src="/media/{{ data.ndvi }}" class="image-width output-img">
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="panel panel-default popup">
							<div class="panel-heading">
								OSAVI READING
							</div>
							<div class="panel-body center">
								<img src="/media/{{ data.osavi }}" class="image-width output-img">
							</div>
						</div>
					</div>

					<!-- NEXT LINE -->
					
					<div class="col-sm-3">
						<div class="panel panel-default popup">
							<div class="panel-heading">
								NDVI 4X4 READING
							</div>
							<div class="panel-body center">
								<img src="/media/{{ data.ndvi_4x4 }}" class="image-width output-img">
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="panel panel-default popup">
							<div class="panel-heading">
								OSAVI 4X4 READING
							</div>
							<div class="panel-body center">
								<img src="/media/{{ data.osavi_4x4 }}" class="image-width output-img">
							</div>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="panel panel-default popup">
							<div class="panel-heading">
								STATISTICAL GRAPH
							</div>
							<div class="panel-body center">
								<img src="/media/{{ data.graph }}" class="image-width output-img-graph">
							</div>
						</div>
					</div>


					<div class="col-sm-6">
						<div class="panel panel-default popup">
							<div class="panel-heading">
								NDVI PIE GRAPH
							</div>
							<div class="panel-body center">
								<img src="/media/{{ data.ndvipiegraph }}" class="image-width output-img-graph">
							</div>
						</div>
					</div>


					<div class="col-sm-6">
						<div class="panel panel-default popup">
							<div class="panel-heading">
								OSAVI PIE GRAPH
							</div>
							<div class="panel-body center">
								<img src="/media/{{ data.osavipiegraph }}" class="image-width output-img-graph">
							</div>
						</div>
					</div>
					
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}