{% extends 'cropmapapp/base.html' %}
{% block title %}CropMap | Image Data{% endblock %}
{% block images %}active{% endblock %}
{% load staticfiles %}
{% block body %}
<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
		<div class="row">
			<table>
				<tr>
					<td style="padding-left: 10px;">
						<img src="{%  static 'cropmapapp/img/pic_da_logo.jpg' %}" style="width: 80px;">
					</td>
					<td style="padding-left: 20px;">
						Republic of the Philippines<br>
						<b style="font-size: 16px;">Department of Agriculture</b><br>
						Regional Field Office No. 02<br>
						Carig Sur, Tuguegarao City, Cagayan
					</td>
				</tr>
			</table>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel-heading">
					<h3>Image Report</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<table class="table">
					<tr>
						<td style="width: 100px;">
						    <a href="#" class="thumbnail">
						      	<img src="/media/{{ image.image_raw }}">
						    </a>
						</td>
						<td>
							<h4><b>Image Name: </b>{{ image.image_name }}</h4>
							<h5><b>Description: </b>{{ image.image_description }}</h5>
						</td>
					</tr>
				</table>
				{% for data in image.data_set.all %}
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Raw NIR Image</th>
							<th>NDVI Readings</th>
							<th>OSAVI Readings</th>
							<th>Legend</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<img src="/media/{{ data.raw }}" style="width: 200px;">
							</td>
							<td>
								<img src="/media/{{ data.ndvi }}" style="width: 200px;">
							</td>
							<td>
								<img src="/media/{{ data.osavi }}" style="width: 200px;">
							</td>
							<td>
								<img src="{% static 'cropmapapp/img/legend1.jpg' %}" style="width: 200px;">
							</td>
						</tr>
					</tbody>
				</table>

				<table class="table table-bordered">
					<thead>
						<tr>
							<th>NDI 4x4</th>
							<th>OSAVI 4x4</th>
							<th>Statistical Graph</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<img src="/media/{{ data.ndvi_4x4 }}" style="width: 200px;">
							</td>
							<td>
								<img src="/media/{{ data.osavi_4x4 }}" style="width: 200px;">
							</td>
							<td>
								<img src="/media/{{ data.graph }}" style="width: 350px;">
							</td>
						</tr>
					</tbody>
				</table>

				<table class="table table-bordered">
					<thead>
						<tr>
							<th>NDI Pie Graph</th>
							<th>OSAVI Pie Graph</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<img src="/media/{{ data.ndvipiegraph }}" style="width: 400px;">
							</td>
							<td>
								<img src="/media/{{ data.osavipiegraph }}"  style="width: 400px;">
							</td>
						</tr>
					</tbody>
				</table>
				{% endfor %}

				<br>
				The result of the Surveying Area: <b style="font-size: 15px; font-weight: bolder;">{{ image.image_name }}</b> with Detail: <b style="font-size: 15px; font-weight: bolder;">{{ image.image_description }}</b> are true and correct with all the accurate readings of the Image Pocessing System this <span id="date"></span><sup>th</sup>  of <span id="month"></span> <span id="year"></span>.
				<br><br><br><br>

				<h4>[Name: ex. John Omar D. Esguerra]</h4>
				<h5>[Position: ex. Regional Director]</h5>
			</div>
		</div>
		
		
	</div>
	<div class="col-lg-2"></div>
</div>
<script>
	var d = new Date();
	document.getElementById("date").innerHTML = d.getDate();
	var month = ["January","February","March","April","May","June","July","August","September","October","November","December"]
	document.getElementById("month").innerHTML = month[d.getMonth()];
	document.getElementById("year").innerHTML = d.getFullYear();

</script>
{% endblock %}